<ion-app>
    <ion-menu swipeGesture="false" contentId="main-content" type="push">
        <ion-content class="content-menu">
            <div class="logo ion-text-center" style="background: #f5f5f9;border-bottom: 5px solid #ecbd12">
                <img src="assets/icon/logo.png" height="117" width="300"/>
            </div>
            <ion-list id="inbox-list">

                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                    <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"
                              detail="false" [class.selected]="selectedIndex == i">
                        <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide="false">
                    <ion-item (click)="logout()" routerDirection="root" lines="none" detail="false">
                        <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
                        <ion-label>خروج</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
