:host{
  background: url("/assets/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  ion-content{
    background: rgba(255,255,255,0.7)
  }
}
.user-selector{
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: #ccc;
  span{

  }
}